.layout{
    width: 100%;
    height: 100%;

    &-item{
        display: flex;
        flex-direction: row-reverse;
        max-width: 1220px;
        margin: 0 auto;
    }
    &-left{
        width: 600px;
        height: 550px;
        background-color: #ffde00;
        border-radius: 50px;
        display: flex;
        align-items: center;
        border-width: 0px;
        border-radius: 80px;
        background-color: #ffd405;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    &-box{
        display: flex;
        padding: 40px;
        text-align: center;
        flex-direction: column;
    }
    &-box h1{
        text-align: center;
        margin-bottom: 50px;
        line-height: 50px;
    }
    &-box h3 {
        line-height: 34px;
    }
    &-box span {
        margin-top: 50px;
        font-weight: 500;
        line-height: 34px;
    }
}